:root {
    --creme: #fffcf5;
}

body .main_section {
    display: flex;
    flex-flow: column;
    gap: 2vw;
}

body .main_section .section_name {
    margin-left: 2vw;
    padding-top: 2vw;
    font-size: 2vw;
}

body .main_section .Class_Table {
    display: flex;
    flex-flow: column;
    margin-left: 2vw;
    margin-right: 1.5vw;
    font-size: 1.25vw;
    gap: 0.5vw;
}

body .main_section .Class_Table .Table table {
    width: 100%;
}